#container {
    text-align: center;
    margin: 15px;
}

#navmenu {
    width: 900px;
    height: 60px;
    padding: 0px;
    margin: 0px auto;
}

    #navmenu ol {
        list-style-type: none;
        margin: 4px;
        padding: 0px;
        text-align: center;
    }

        #navmenu ol li {
            width: 200px;
            float: left;
            margin: 4px;
        }

            #navmenu ol li a {
                text-decoration: none;
                display: block;
                color: transparent;
                width: 200px;
                height: 60px;
                line-height: 40px;
                font-size: 14pt;
                background-image: url(C:\Users\sumbo\Desktop\my app2\cil-internship-cohort-04\about1.png)
            }

    #navmenu a:hover {
        background-image: url(C:\Users\sumbo\Desktop\my app2\cil-internship-cohort-04\about1.png);
        background-position: -207px 0px;
    }

    #navmenu ol li a {
        text-decoration: none;
        display: block;
        color: transparent;
        width: 200px;
        height: 60px;
        line-height: 40px;
        font-size: 14pt;
        background-image: url(images/home.gif);
        background-repeat: no-repeat;
    }

    #navmenu a:hover {
        background-image: url(images/home.gif);
        background-position: -207px 0px;
    }
